body
{
	background-color: white;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 60px;
}
h1
{
	font-size: 40pt;
	font-weight: 900;
	color: #da8e32;
}
h2
{
	font-size: 36px;
	font-weight: 400;
}
p
{
	font-size: 24px;
	font-weight: 400;
}
li 
{
	font-size: 24px;
}
.bold
{
	font-weight: 900;
}
a
{
	color: #da8e32;
	text-decoration: none;
}
