body
{
	background-color: white;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin-left: 60px;
	margin-right: 60px;
}
h1
{
	font-size: 40pt;
	font-weight: bold;
}
.orange
{
	color: #da8e32;
}
p
{
	font-size: 36pt;
	font-weight: normal;
}
